/*Impede de modificar o tamanho final*/
* {
	box-sizing: border-box;
}

/*Todos os estilos serão feitos por aqui*/
@media (max-width: 736px) {

    body {
        background-color: #e5e5e5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Define o formato do cabeçalho*/
    .titulo {
        position: fixed;
        width: 100%;
        height: 92px;
        background-color: #cf2b2b;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 5px 5px #9a9a9a;
    }

    /*------------------------------------------------------------------------------------------------*/
    /*Título*/
    .titulo h1 {
        font-family: 'Righteous', cursive;
        font-size: 44px;
        margin-left: 21px;
    }
    /*Subtítulo*/
    .titulo p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin-left: 21px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /*Menu do meio*/
    .menu {
        width: 100%;
        margin: 102px 0;
    }
    /*Linhas (prato, bebida, sobremesa)*/
    .opcoes {
        margin: 31px 19px 0 19px;
        display: flex;
        flex-direction: column;
    }
    /*Título dos menus*/
    .opcoes h1{
        font-family: 'Righteous', cursive;
        justify-content: flex-start;
        margin-bottom: 17px;
    }
    /*Dita como funciona o menu*/
    .carrossel {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    /*------------------------------------------------------------------------------------------------*/
    /*Cartão de cada item*/
    .itens {
        width: 172px;
        height: 216px;
        margin: 0 8px;
        border-radius: 9px;
        background-color: white;
        box-shadow: 0 2px 10px #c0c0c0, 0 2px 10px #c0c0c0;
        flex-direction: column;
    }
    /*Imagem de cada cartão*/
    .itens img {
        width: 144px;
        height: 87px;
        border-radius: 4px;
        margin: 18px 14px;
    }
    /*Título do cartão*/
    .itens h1{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin: 0 15px;
        color: #333333;
    }
    /*Descrição de cada cartão*/
    .descricao{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: lighter;
        margin: 12px 15px;
        color: #a6a6a6;
    }
    /*Preço de cada cartão*/
    .preco {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-left: 15px;
        margin-bottom: 17px;
        color: black;
    }

    /*------------------------------------------------------------------------------------------------*/
    /*Menu inferior para finalizar o pedido*/
    .rodape {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 92px;
        background-color: white;
        justify-content: center;
        bottom: 0;
    }
    /*Botão do menu inferior*/
    .rodape button {
        height: 61px;
        width: 100%;
        margin: 0 26px;
        background-color: #cbcbcb;
        font-family: 'Roboto', sans-serif;
        font-size: 20;
        color: #ffffff;
        border: none;
        border-radius: 50px;
      }
      
}