/*Impede de modificar o tamanho final*/
* {
	box-sizing: border-box;
}

/*Todos os estilos serão feitos por aqui*/
@media (max-width: 736px) {
    /*Define o formato do cabeçalho*/
    .titulo{
        position: fixed;
        width: 100%;
        height: 92px;
        background-color: #cf2b2b;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*Título*/
    .titulo h1{
        font-family: 'Righteous', cursive;
        font-size: 44px;
        margin-left: 21px;
    }
    /*Subtítulo*/
    .titulo p{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin-left: 21px;
    }
}